/*   Define Variables for the root element  */

:root {
    --main-bg-color: #fff;
    --main-font-color: #f3f4f7;
    --main-font: Verdana, Geneva, Tahoma, sans-serif;
    --main-font-size: 16px;
    --main-line-heigh: 1.9em;

    --header--bg-color: #333;
    --header--font-color: #fff;

    --container-width: 90%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-heigh);
}

.container {
    width: var(--container-width);
    margin: 20px auto;
}


header#main-header {
    background-color: var(--header--bg-color);
    color: var(--header--font-color);
    padding: 5px;
}

header#main-header h1 {
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    --gap: 20;                      /* Variable  just for the class grid */
    gap: calc(var(--gap) * 1px);    /* funcion to calculate values */
}

/*  Define box vars */
.box {
    --box-bg-color: #d4d4d4;
    --box-main-color: #06c;
    --box-font-color: #333;
    --box-padding: 5px 10px;
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

.box {
    background-color: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    color: var(--box-font-color);
    box-shadow: var(--box-shadow-h-offset) 
                var(--box-shadow-v-offset) 
                var(--box-shadow-blur) 
                var(--box-main-color);
}

.box h1 {
    color: var(--box-main-color);
}

.box p {
    --box-main-color: #555;                 /* Override variable just for class box paragraphs */
    /* color: var(--box-main-color); */
    color: var(--box-main-color, red);      /* Default value incase the variable doens' exist */
}
